# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# VS Code
.vscode/

# Environment Variables
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# macOS
.DS_Store

# Windows
Thumbs.db